.category-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.btn {
  font-size: 1.05rem;
  color: black;
}
.active-button {
  background-color: black !important;
  color: white;
  border-radius: 20px;
}
